.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.publication {
    background-color: aquamarine;
    width: 30%;
    
    height: 300px;
    /* margin-bottom: 10px; */
}