.container {
    width: 200px;
    height: 1000px;
    justify-content: center;
    border: 1px solid rgb(197, 197, 197);
    border-top: none;
    border-left: none;
    border-bottom: none;
}


.logo img{
    width: 120px;
    margin-top: 60px;
    margin-left: 40px;
}


.nav_list li {
    margin: 30px 10px; 
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
}